.custom-shape-divider-bottom-1666572273 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1666572273 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 206px;
}

.custom-shape-divider-bottom-1666572273 .shape-fill {
  fill: #F2911FE8;
}